<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
     
    </configSections>
    <connectionStrings>
        <add name="certificateSystem.Properties.Settings.certificateConnectionString"
            connectionString="Data Source=DESKTOP-SHF8FLP\SQLEXPRESS;Initial Catalog=certificate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="emailUserName" value="omarebra1995@gmail.com" />
    <add key="emailPassword" value="Omaromar1995" />
    <add key="Path_Files" value="C:\Users\HP\Desktop\certificateSystem\certificateSystem\Files" />
    <add key="Path_Templte" value="C:\Users\HP\Desktop\certificateSystem\certificateSystem\Templte" />
    <add key="Path_language" value="C:\Users\HP\Desktop\certificateSystem\certificateSystem\language"/>
    <add key="connectionString_Local" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\HP\Desktop\certificateSystem\certificateSystem\Database.mdf;Integrated Security=True"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>